<h1>Bienvenido, <b>{{request.user.quetziadmin}}</b></h1>
<table border = '1'>
    <thead>
        <tr>
            <th>Nombre del proyecto</th>
            <th>Progreso</th>
            <th>Fecha de Inicio</th>
            <th>Dia de entrega estimada</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
            <tr>
                <td>
                    {{project.name}}
                </td>
                <td>
                    {{project.progress}} %
                </td>
                <td>
                    {{project.initialDate}}
                </td>
                <td>
                    {{project.finalDate}}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h1>Tareas</h1>
{% for homework in homeworks %}
    <h2>Tarea: {{homework.name}}</h2>
    <p>
        {{homework.description}}
    </p>
    <h4>Miembros</h4>
    <ul>
    {% for member in homework.members.all %}
        <li>{{member}}{% if member == request.user.quetziadmin %} (Yo){% endif %}
        </li>
    {% endfor %}
    </ul>
{% empty %}
    <h2>Nada que visualizar</h2>
{% endfor %}
